/* Content Wrap
###########################################################################  */

.content-wrap{
  width: 100vw;
  height: 100vh;
  background-color: var(--light);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrap:nth-child(even) {
  background-color: var(--lighter);
}


/* Overview
###########################################################################  */

.overview{
  padding: 0;
  margin: var(--m);
  display: grid;
  gap: var(--m);
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-width), 1fr));
}

